<?xml version="1.0" encoding="utf-8"?>
<settings version="1">
    <section id="plugin.video.filteredmovies">
        <category id="general" label="32001" help="">
            <group id="1">
                <setting id="input_mode" type="string" label="32002" help="32003">
                    <level>0</level>
                    <default>digit_letter</default>
                    <constraints>
                        <options>
                            <option label="32004">digit_letter</option>
                            <option label="32005">pure_digit</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="style" type="string" label="32006" help="32007">
                    <level>0</level>
                    <default>auto</default>
                    <constraints>
                        <options>
                            <option label="32008">auto</option>
                            <option label="32009">rounded</option>
                            <option label="32010">square</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="filter_limit" type="integer" label="32012" help="32013">
                    <level>0</level>
                    <default>300</default>
                    <constraints>
                        <minimum>6</minimum>
                        <step>6</step>
                        <maximum>1200</maximum>
                    </constraints>
                    <control type="slider" format="integer"/>
                </setting>
                <setting id="search_limit" type="integer" label="32014" help="32015">
                    <level>0</level>
                    <default>36</default>
                    <constraints>
                        <minimum>6</minimum>
                        <step>6</step>
                        <maximum>1200</maximum>
                    </constraints>
                    <control type="slider" format="integer"/>
                </setting>
                <setting id="enable_set_search" type="boolean" label="32016" help="32017">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="search_field" type="string" label="32018" help="32019">
                    <level>0</level>
                    <default>originaltitle</default>
                    <constraints>
                        <options>
                            <option label="32020">originaltitle</option>
                            <option label="32021">sorttitle</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="auto_write_search_index" type="boolean" label="32022" help="32023">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="autofill_playlist_on_play" type="boolean" label="32024" help="32025">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="osd_selector_position" type="string" label="32026" help="32027">
                    <level>0</level>
                    <default>center</default>
                    <constraints>
                        <options>
                            <option label="32031">top_left</option>
                            <option label="32030">top_right</option>
                            <option label="32032">center</option>
                            <option label="32029">bottom_left</option>
                            <option label="32028">bottom_right</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="osd_selector_bg_opacity" type="integer" label="32033" help="32034">
                    <level>0</level>
                    <default>90</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>1</step>
                        <maximum>100</maximum>
                    </constraints>
                    <control type="slider" format="integer"/>
                </setting>
            </group>
        </category>
    </section>
</settings>
